In [1]:
import pandas as pd

In [7]:
import numpy as np

In [2]:
df=pd.read_csv('glass.csv')

In [3]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [26]:
from sklearn.utils import shuffle
df = shuffle(df)

In [27]:
X=df.ix[:,:-1]
Y=df.ix[:,-1]

In [14]:
Y.head()

213    7
51     1
22     1
137    2
154    3
Name: Type, dtype: int64

In [28]:
xtest=X.ix[:100,]
ytest=Y.ix[:100,]
xtrain=X.ix[100:,]
ytrain=Y.ix[100:,]

In [18]:
from sklearn import ensemble

In [21]:
RMClassifier=ensemble.RandomForestClassifier()

In [29]:
RMClassifier.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [30]:
RMClassifier.score(xtest,ytest)

0.6912751677852349

In [31]:
type(RMClassifier.score(xtest,ytest))

numpy.float64

In [33]:
from sklearn.neighbors import KNeighborsClassifier

In [36]:
KNClassifier=KNeighborsClassifier()
KNClassifier.fit(xtrain,ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [38]:
KNClassifier.score(xtest,ytest)

0.57046979865771807

In [41]:
print(df['Type'].value_counts().sort_values(ascending=False)) # six categories 
print()

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64
()

In [42]:
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64